
<div class="details">
    <h1> Détails Tirage</h1>
</div>
<div class="infos">
    <h1>Postulants retenus lors de ce tirage</h1>
    <table>
        <thead>
            <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Prenom</th> 
            <th>Numéro</th>
            <th>Email</th>
            <th>Libelle-tirage</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>2</td>
            <td>DIALLO</td>
            <td>Adjaratou Amadou</td>
            <td>78947185</td>
            <td>adjarasira@gmail.com</td>
            <td>Tirage_1</td>
        </tr>
        <tr>
            <td>2</td>
            <td>DIALLO</td>
            <td>Adjaratou Amadou</td>
            <td>78947185</td>
            <td>adjarasira@gmail.com</td>
            <td>Tirage_1</td>
        </tr>
        <tr>
            <td>2</td>
            <td>DIALLO</td>
            <td>Adjaratou Amadou</td>
            <td>78947185</td>
            <td>adjarasira@gmail.com</td>
            <td>Tirage_1</td>
        </tr>
        <!-- <tr>
            <td>2</td>
            <td>DIALLO</td>
            <td>Adjaratou Amadou</td>
            <td>78947185</td>
            <td>adjarasira@gmail.com</td>
            <td>Tirage_1</td>
        </tr>
        <tr>
            <td>2</td>
            <td>DIALLO</td>
            <td>Adjaratou Amadou</td>
            <td>78947185</td>
            <td>adjarasira@gmail.com</td>
            <td>Tirage_1</td>
        </tr> -->
        </tbody>
    </table>
</div>
