<div class="first_heading">
    <h1>Bienvenue sur FreeTirage</h1>
    <p>La meilleure plateforme pour faire un tirage</p>
</div>

<div class="stats">
    <h1 class="statistique">Nos Statistiques</h1>
    <div class="stats_main">
      <div class="stats-container">
        <div class="stat">
          <div class="stat-title">
            <h2>Total des listes</h2>
          </div>
          <div class="stat-body">
            <div class="number">299</div>
            <div class="icon"></div>
            <div class="text">
              <p>Listes tirées</p>
            </div>
          </div>
        </div>
        <div class="stat">
          <div class="stat-title">
            <h2>Total des tirages</h2>
          </div>
          <div class="stat-body">
            <div class="number">700</div>
            <div class="icon"></div>
            <div class="text">
              <p>Tirages effectués</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="top_lists">
    <h2>Top listes</h2>
    <div>
        <table class="table align-middle">
            <thead>
              <tr>
                <th>Numero</th>
                <th>Libelle</th>
                <th>Date</th>
                <th>Nombre de tirage</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Numéro</td>
                <td>Libelle</td>
                <td>Date</td>
                <td>Nombre de tirage</td>
                <td><a href="#">Action</a></td>
              </tr>
              <tr>
                <td>Numéro</td>
                <td>Libelle</td>
                <td>Date</td>
                <td>Nombre de tirage</td>
                <td><a href="#">Action</a></td>
              </tr>
              <tr>
                <td>Numéro</td>
                <td>Libelle</td>
                <td>Date</td>
                <td>Nombre de tirage</td>
                <td><a href="#">Action</a></td>
              </tr>
              <tr>
                <td>Numéro</td>
                <td>Libelle</td>
                <td>Date</td>
                <td>Nombre de tirage</td>
                <td><a href="#">Action</a></td>
              </tr>
              <tr>
                <td>Numéro</td>
                <td>Libelle</td>
                <td>Date</td>
                <td>Nombre de tirage</td>
                <td>
                  <a href="#">Action</a>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>