.import{
    background-color: #f8f8f8;
    width: 559px;
    height: 412px;
    top: 149px;
    left: 251px;
    position:absolute;

}
#odc{
    position: absolute;
    width: 559px;
    height: 50px;
     left: 0px;
    top: -50px;
    background-color: black;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
}
.deja{
    background-color: #f8f8f8;
    width: 559px;
    height: 412px;
    top: 149px;
    left: 850px;
    position:absolute;

}
#k2{
    position: absolute;
    width: 559px;
    height: 50px;
     left: 0px;
    top: -50px;
    background-color: black;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;

}