
    <title>Tirage</title>


    <h1>Tirage</h1>
    <div class="principal">
        <div class="import">
            <div id="odc"><p>Importer une liste et Effectuer un tirage</p></div>
            <form method="post"  action="">
              <div class="saisie">
            <label for="essai">Libelle de liste</label> 
            <input  type="text" name="liste" id="liste">
        <label for="essai">Libelle du tirage</label>
           <input   type="text" name="liste" id="liste">
            <label for="essai">Nombre de postulants à tirer</label>
            <input  type="text" name="liste" id="liste">
           
            <button class="send" type="submit">Importer et Tirer</button>
       
        </div> 
        </form>
        </div>
        <div class="deja">
            <div id="k2"><p>Effectuer un tirage depuis une liste existante</p></div>
            <form method="post"  action="">
            <label for="essai">Libelle de liste</label>
          <select name="Liste" id="">
           
                <option>Liste 1</option>
                <option>Liste 2</option>
                <option>Liste 3</option>
                <option>Liste 4</option>
                <option>Liste 5</option>
           
          </select>


            <label for="essai">Libelle du tirage</label>
            <input method  type="text" name="liste" id="liste">
            <label for="essai">Nombre de postulants à tirer</label>
            <input method  type="text" name="liste" id="liste">
            <button  class="send"type="submit">Effectuer un tirage</button>
        </form>
        </div>
       
    </div>
