<h1>Tirage</h1>
<div class="tirage_forms">

    <div class="import_form">

        <div class="form_title">
            <p>Effectuez un tirage depuis<br> une liste importée</p>
        </div>

        <div class="form_body">

            <form action="#">
                <br>
                <input type="file" id="file" name="file" accept=".csv,
                 application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,
                 application/vnd.ms-excel">
                <div style="width: 100%;" class="label_div">
                    <label for="file"><i class="bi bi-file-earmark-arrow-up-fill"></i>&nbsp; Choisir un fichier Excel</label>
                </div>
                <br>
                <br>
                <input type="text" class="new_list_name" placeholder="Libellé de la liste">
                <br>
                <br>
                <input type="text" class="new_ldraw_name" placeholder="Libellé du tirage">
                <br>
                <br>
                <input type="text" class="ldraw_number" placeholder="Nombre de postulants à tirer">
                <br>
                <br>
                
                <button class="button4">Importer et tirer</button>

            </form>

        </div>

    </div>




    <div class="list_form">
        <div class="form_title">
            <p>Tirage depuis une liste<br> déjà existante</p>
        </div>
        <div class="form_body">
            <form (ngSubmit)="onsubmit()" >
              
              
                <!-- <input type="text" class="all_lists" placeholder="Listes"> -->
                <select class="lists" name="lists" [(ngModel)] ="tirer">
                    <!-- <div style="width: 100%;" class="label_div">
                        <label for="file"><i class="bi bi-file-earmark-arrow-up-fill"></i>&nbsp; Choisir un fichier Excel</label>
                    </div> -->
                    <option value="text">choisir une liste</option>  
                    <option *ngFor="let liste of listPostulants">
                        {{liste.libelle}}
                    </option>
                </select>
                <br>
                <br>
                <input [(ngModel)] ="libelleTirage" name="libelleTirage"  type="text" class="new_ldraw_name" placeholder="Libellé du tirage" ngModel>
                <br>
                <br>
                <input [(ngModel)] ="nbr" name="nbr" type="number" class="post_number"  placeholder="Nombre de postulants à tirer" ngModel>
                <br>
                <br>
                <button type="submit" class="button4">Effectuer un tirage</button>
            </form>
        </div>
    </div>


</div>