<!-- Div contenant le titre et le logo de la page -->
<div class="page_title">
  <div class="company">
      <div class="company_logo"><img src="../assets/logo.svg"></div>
      <div  class="company_name"><span>FreeTirage</span></div>
  </div>
</div> 

 <!-- div contenant le menu a gauche -->
<div class="left_menu">
  <ul>
    <a  routerLink="accueil" 
    routerLinkActive="active"><label>Accueil</label></a>
    <a><label>Statistiques</label></a>
    <a href="#"><label>labelste</label></a>
    <a href="#"><label>Tirage</label></a>
  </ul>
</div>

<!-- div contenant le principal contenu de la page -->

<div class="main_content">
  <router-outlet></router-outlet>
</div>

