<!-- Div contenant le titre et le logo de la page -->
<div class="page_title" role="banner">
  <h1><img width="40" alt="FreeTirage Logo" src=""/>FreeTirage</h1>
  <!-- <img
    width="40"
    alt="FreeTirage Logo"
    src=""
  /> -->
  <p>© Copyright 2022 FreeTirage</p>
</div> 

 <!-- div contenant le menu a gauche -->
<div class="left_menu">
  <span>Accueil</span>
  <span>Statistiques</span>
  <span>Liste</span>
  <span>Tirage</span>
</div>

<!-- div contenant le principal contenu de la page -->
<div class="main_content">
  <router-outlet></router-outlet>
</div>

