
<div>
  <div class="entete">
  
    <img src="assets/logo.png" alt="logo">
  </div>
  <div class="gauche">
    <div class="dia">
    <a routerLink="accueil" routerLinkActive="{exate:true"><li>Accueil</li> </a>
    <a routerLink="listetires" routerLinkActive="{ exate: true}"><li>Statistiques</li> </a>
    <a routerLink="listes" routerLinkActive="{ exate:true}"> <li>Listes</li> </a>
    <a routerLink="tirage"  routerLinkActive="{ exate:true}"><li>Tirage</li> </a>
  </div>
  </div>
  <div class="milieu">
    <!-- permet de changer de composant et de recharger  la page -->
    <router-outlet></router-outlet>
  </div>
  

</div>