/* Importation pour utiliser la police Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* Importation pour utiliser les icônes de Bootsrap */
@import "~bootstrap-icons/font/bootstrap-icons.css";

* {
    font-family: Poppins, Roboto, Helvetica, sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 20px;
}


html, body { height: 100%; }
body { margin: 0; font-family: Poppins ,Roboto, "Helvetica Neue", sans-serif; }

.mat-h2,
.mat-title,
.mat-typography .mat-h2,
.mat-typography .mat-title,
.mat-typography h2 {
    font: 600 20px/32px Poppins,
        "Helvetica Neue",
        sans-serif;
    font-size: 18px;    
    margin-left: 20%;
    margin-top: 2%;
}
